body {
    background-color: lightblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* {
    padding: 0;
    margin: 0;
}

h1, h2 {
    color: navy;
}

h1 { 
    font-size: 48px;
}

h2 { 
    font-size: 32px;
}

.pais {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}

#sv {
    color: grey;
    text-align: justify;
}

footer {
    background-color: #AF00FF;
    color: #FFFFFF;
}