html {
    background-color: lightblue;
}

section {
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

section h2 {
    color: navy;
}

section > h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: red;
}

article h1 + h2 { 
    text-decoration: underline;
}

* {
    color: crimson;
}

.container {
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

li {
    list-style-type: none;
    padding: 10px;
    border-style: solid;
}

li:nth-child(2n + 1) {
    background-color: chocolate;
}

li:nth-child(2n + 2){
    background-color: navy;
}

table {
    border: 1px solid black;
    width: 100%;
    margin: 0 auto;
}

th, td {
    border: 1px solid black;
}

thead {
    background-color: darkcyan;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: yellow;
}

tbody tr:nth-child(odd) {
    background-color: lawngreen;
}

tbody tr:hover {
    background-color: darkcyan;
    color: white;
}